<h1>Add a new album to the archive</h1>

<form action="<%= albums_url %>" method="POST">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="album_name">Title:</label>
  <br>
  <input type="text"
         id="album_name"
         name="album[name]"
         value="New Album">

  <br>
  <br>

  <label for="album_artist">Artist:</label>
  <br>
  <select id="album_artist"
          name="album[band_id]">
    <option>BAND NAME</option>
    <% @bands.each do |band| %>
      <option value="<%= band.id %>"
              <%= "selected" if band == album.band %>>
              <%= band.name %></option>
    <% end %>
  </select>

  <br>
  <br>

  <input type="radio"
         name="album[performance]"
         id="recording_type"
         value="studio">
  <label for="recording_type">Studio Recording</label>

  <br>

  <input type="radio"
         name="album[performance]"
         id="recording_type"
         value="live">
  <label for="recording_type">Live Recording</label>

  <br>
  <br>

  <button>Submit</button>
</form>
