<h1><%= @album.name %></h1>

<h3>by <%= @album.band.name %></h3>

<h3>Tracks:</h3>

<ul>
  <% @album.tracks.each do |track| %>
  <li><a href="<%= track_url(track.id) %>"><%= track.name %></a></li>
  <br>
  <% end %>
</ul>

<a href="<%= new_album_track_url(@album.id) %>">add new track</a>

<br>
<br>

<a href="<%= bands_url %>"><< All Albums by <%= @album.band.name %></a>

<br>
<br>

<form action="<%= band_url(@band.id) %>" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="delete">
  <button>Delete Album</button>
</form>
