<% url = @post.persisted? ? post_url(@post.id) : posts_url %>

<form  action="<%= url %>" method="post">
  <% if @post.persisted? %>
  <input type="hidden" name="_method" value="patch">
  <% end %>

  <%= render "layouts/auth_token" %>

  <label for="title">Title</label>
  <br>
  <input type="text" name="post[title]" value="<%= @post.title %>" id="title">

  <br><br>
  <label for="url">URL</label>
  <br>
  <input type="text" name="post[url]" value="<%= @post.url %>" id="url">

  <br><br>
  <label for="content">Content</label>
  <br>
  <textarea name="post[content]" id="content"><%= @post.content %></textarea>

  <br><br>
  <p>Post to at least one sub:</p>

  
  <% Sub.all.each do |sub| %>
    <label for="sub"><%= sub.title %></label>
    <input type="checkbox"
           name="post[sub_ids][]"
           id="sub"
           value="<%= sub.id %>"
           <%= "checked" if @post.sub_ids.include?(sub.id) %>>
           <% end %>



  <br><br>
  <input type="submit" value="submit">

</form>
