<h1><%= @post.title %></h1>
<h6>posted by <%= @post.author.username %></h6>

<br>
<br>

<p><%= @post.url %></p>

<br>
<br>

<p><%= @post.content %></p>

<br>
<br>

<% if @post.author_id == current_user.id %>
  <a href="<%= edit_post_url(@post.id) %>">Edit Post</a>
<% end %>

<br>

<h4>This post is on the following subs:<h4>
<% @post.subs.each do |sub| %>
  <a href="<%= sub_url(sub.id) %>"><%= sub.title %></a>
<% end %>


<br><br>

<h5>Comments</h5>

<% @post.comments.each do |comment| %>
  <p><%= comment.content %> -- <%= comment.author.username %></p>
<% end %>

<a href="<%= new_post_comment_url(@post.id) %>">Post a new comment</a>
