<h1><%= @post.title %></h1>

<p><%= @post.url %></p>

<br>
<br>

<p><%= @post.content %></p>

<br>
<br>

<h6>posted by <%= @post.author.username %> on the following subs</h6>
<% @post.subs.each do |sub| %>
  <a href="<%= sub_url(sub.id) %>"><h6><%= sub.title %></h6></a>
<% end %>

<% if @post.author_id == current_user.id %>
  <a href="<%= edit_post_url(@post.id) %>">Edit Post</a>
<% end %>

<br>




<br><br>

<h5>Comments</h5>
<ul>
<% @all_comments.each do |comment| %>
  <% unless comment.parent_comment_id %>
    <li><%= comment.content %> -- <%= comment.author.username %>
    <a href="<%= comment_url(comment.id) %>">view comment</a></li>
  <% end %>
<% end %>
</ul>

<a href="<%= new_post_comment_url(@post.id) %>">Post a new comment</a>
