<!DOCTYPE html>
<html>
<head>
  <title>MusicInventory</title>
  <%= csrf_meta_tags %>
</head>
<body>

<h3>The Music Inventory</h3>
<% if logged_in? %>
  <p>Logged in as <%= current_user.email %></p>
  <form action="<%= session_url %>" method="POST">
    <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <button>Log Out</button>
  </form>
<% else %>
  <a href="<%= new_session_url %>"><button>Log In</button></a>
  <a href="<%= new_user_url %>"><button>Sign Up</button></a>
<% end %>

<%= error_messages %>
<%= yield %>

</body>
</html>
