<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= csrf_meta_tags %>
</head>
<body>
<% if logged_in? %>

  <form action="<%= session_url %>" method="post">
    <%= render 'layouts/auth_token' %>
    <input type="hidden" name="_method" value="delete">
    <input type="submit"  value="LogOut">
  </form>

<% else %>

  <a href="<%= new_session_url %>">LogIn</a>

<% end %>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>
<%= yield %>

</body>
</html>
