<!DOCTYPE html>
<html>
<head>
  <title>Cats99</title>

  <%= csrf_meta_tags %>
</head>
<body>

<% if flash.now[:errors] %>
  <% flash.now[:errors].each do |error| %>
    <%= error %><br>
  <% end %>
<% end %>

<% if current_user %>
  <p>Welcome, <%= current_user.user_name %>!</p>
<% else %>
  <a href="<%= new_session_url %>">Log In</a>
<% end %>

<%= yield %>

</body>
</html>
